[Unit]
Description=AMBED
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStartPre=/bin/sleep 30
ExecStartPre=-/sbin/rmmod ftdi_sio
ExecStartPre=-/sbin/rmmod usbserial
ExecStart=/ambed/ambed LOCAL-IP
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
Alias=ambed.service
